{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">
            Django App Task
        </h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque debitis iste, beatae reiciendis velit non ex
            deleniti quam. Provident adipisci, dolorum dolores nam dicta sit id hic voluptas, eaque velit explicabo? Nostrum
            perferendis obcaecati iure, dicta, sit sed sequi fugiat esse quos illum id, veniam ipsum rem totam non laudantium
            eligendi saepe corporis autem dolore beatae! Sunt animi non voluptas cupiditate amet provident doloribus blanditiis,
            maiores architecto ex earum dignissimos error laboriosam est fugit suscipit veritatis aspernatur? Quae, veniam,
            dolor nemo sapiente, cupiditate tempora illo atque neque saepe inventore voluptatibus necessitatibus magni est amet
            quia consequatur odio perferendis totam quasi?
        </p>
        <div class="text-center">
            <a class="btn btn-primary btn-dark" href="/signin/">Sign In</a>
            <a class="btn btn-secondary" href="/signup/">Sign Up</a>
        </div>
    </section>
</main>
{% endblock %}